table {
    width: 100%;
}

.loading-spinner {
    margin-top: 100px;
}

.mat-spinner-margin{
    margin: 0 auto;
}

.mat-spinner-text{
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    top: -10px;
    width: auto;
}

.mat-spinner-text-wrapper{
    float: right;
    width: 50%;
    margin-right: 50px;
    margin-top: 5px;
}

.selected {
    background: rgb(244, 246, 252);
}
 